
body {
	font: 78.5%/1.6em "Lucida Grande", "Lucida Sans Unicode", verdana, geneva, sans-serif;
	word-spacing:2px;
	color:#444;
	margin:20px;
	background:#fff;
}

* {
	margin:0;
	padding:0;
	
}

a {
	color:#098BF7;
}
a:hover {
	text-decoration:none;
}

#wrapper {
	background:#fff;
	max-width:900px;
	width:expression(this.width > 320 ? "320px" : this.width);
	min-width:760px;
	margin:0 auto;
}

* html #wrapper
{
	w\idth: expression(document.documentElement.clientWidth > 900 ? "900px" : "auto");
}

#header {
	padding:10px 10px 10px 10px;
	margin:0 0 30px 0;
	border-bottom:2px solid #eee;
}

#header h1 {
	color:#40bf40;
	font:300% Arial;
	letter-spacing:-1px;
    text-align:right;
    display: inline-block;
    float:right;
    padding: 0px 20px 0px 20px;
    font-weight: bold;
    margin: -10px 0 0 0;
}
#header h1 a {
	color:#f90069;
	text-decoration:none;
}

#header h2 {
	color:#aaa;
	font:140% Arial;
    display: inline-block;
    padding: 0px 40px 0px 10px;
    font-weight: bold;
}

#header h2 a {
    color:#888;
    text-decoration:none;
}

#header h2 a:hover {
    color:#aaa;
    text-decoration:none;
}

.clear {
	clear:both;
}

ul#nav {
	
}

ul#nav li {
	list-style:none;
	float:left;
	height:50px;
	
}

.clear {
	clear:both;
}

ul#nav li a em {
	font-style:normal;
	text-decoration:underline;
}

#content {
	margin:5px 5px 0px 0 !important;
	
}

#content .first h2 {	
	color:#fff;
	background:none;
	padding:0;
}

#content .first p {
	color:#fff;
}

#content .first p a {
	color:#fff;
	font-weight:bold;
	border-bottom:1px solid #FF8ABC;
	text-decoration:none;
}

#content p {
	line-height:27px;
	margin:10px 15px 10px 15px;
	padding:5px 5px 5px 5px;
}

#content h2 {
	font:160% Arial;
	color:#333;
	margin:2px 0 5px 0;
	padding:15px;
	text-transform:uppercase;
}

#content h2 a {
	color:#333;
	text-decoration:none;
}

#content p img {
	float:left;
	margin:0 10px 0 0;
	padding:0px 0px 10px 0px;
    max-width: 100%;
    height: auto;
}

#content h3 {
	font:140% Trebuchet MS;
	color:#444;
	margin:15px 15px;
}

#content a {
    color:#000;
    text-decoration:none;
}

#content a:hover{
    color:#000;
}

blockquote {
	margin:20px 20px 20px 20px;
}

#content ul {
	margin:0 0 0 40px;
}

#content form {
	padding:10px;
	margin:20px;
	border:1px solid #ccc;
}

#content form label {
	font-weight:bold;
	color:#444;
	display:block;
}

#content form input {
	width:96%;
	border:1px solid #ddd;
	padding:4px;
	margin:5px 0 10px 0;
	font:90% Verdana;
}

#content form textarea {
	width:96%;
	border:1px solid #ddd;
	padding:4px;
	margin:5px 0 10px 0;
	font:90% Verdana;
}

#footer {
    clear:left;
	margin:60px 0;
	border-top:2px solid #eee;
	padding:20px;
	font:90% Verdana;
	color:#999;
}

#footer a {
	color:#666;
	font-weight:bold;
	text-decoration:none;
}

#footer p{
    display:inline-block;
}

#footer blockquote {
    color:#666;
    float:right;
    display:inline-block;
    margin:0px 20px 0 0;
    padding:0;
}
